body {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px; */
    /* letter-spacing: 1px;
    word-spacing: 2px;
    font-style:italic;
    text-decoration: line-through; */
    background: #f1f1f1;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 10px;
}
.avatarka {
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
    width: 300px;
}
.img {
    display: inline;
}
.center_block {
    display: inline-block;
    margin-left: 30px;
}
h1 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px;
    font-weight: bold;
}
.start p{
    margin: 0px;
}
.start span{
font-style: italic;
font-size: 18px;
}
#sities {
    margin: 20px;
}
.links {
  color: gray;
  text-decoration: none;
}
.links:hover {
    color: purple;
    text-decoration: underline;
}

.telega:hover {
    text-decoration: underline;
    border: none;
}
.info {
    color: #86898f;
}
.hobby li:hover {
    background: hsl(327, 37%, 51%);
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.hobby ol li {
    padding-right: 20px;
    list-style: none;
    
}
.hobby ol {
    display: flex;
    margin: 0;
    padding: 10px 10px;
    height: 30px;
    
}
.hobby{
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background: hwb(0 53% 37%);
    padding-left: 10px;
    margin: 0;
    
}
.job tr td {
    text-align: center;
    padding: 10px 10px;
}
.job td:nth-child(1) {
    border-right: 2px solid #000;
    border-top: 2px solid #000;
}
.job td:nth-child(2) {
    border-right: 2px solid #000;
    border-top: 2px solid #000;
}
.job td:nth-child(3) {
    border-right: 2px solid #000;
    border-top: 2px solid #000;
}
.job {
    background: hsl(0, 0%, 100%);
    padding-left: 15px;
    padding-top: 0.5px;
    margin-top: 10px;
}
.coment {
    border-top: 2px solid black;

}
.coment h2 {
    text-align: center;

}
.form_row {

}
.form_row .form_group {
    display: inline-block;
    width: 40%;
    padding: 10px 10px 10px 0;

}
.form_group label {
    display: block;
}
.form_group input,
.form_group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    /* border-left: #000; */
    color: #000;
    padding: 15px 0px 10px;
    outline: none;
}
.btn {
    background: #000;
    color: #fff;
    width: 134px;
    height: 30px;
    cursor: pointer;
    border: none;
}
.btn:hover {
    opacity: 0.8;
    color: white;
}
.btn:active {
    background: gray;
}